:root {
  --background: rgb(42, 42, 42);
  --text: rgb(207, 207, 207);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.waypoint-marker {
  align-items: center;
  background-color: var(--background);
  border-radius: 50%;
  color: var(--text);
  display: flex !important; /* Override Leaflet styles */
  font-weight: bold;
  justify-content: center;
}
